.wrapper
  = render 'navbar'
  .login-wrapper
    %p Editing Bookmark
    = render 'form', bookmark: @bookmark
    = link_to 'Show', @bookmark, class: 'border_spread_btn mt-5'
    |
    = link_to 'Top page', root_path, class: 'border_spread_btn'
gg