= render 'navbar'
.wrapper
  %p Editing Bookmark
  = render 'form', bookmark: @bookmark
  = link_to 'Show Bookmark', @bookmark, class: 'border_spread_btn'
  |
  = link_to 'Back to Top page', bookmarks_path, class: 'border_spread_btn'
