// Place all the styles related to the Bookmarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  box-sizing: border-box;
  .header {
    .user_status {
      display:flex;
      justify-content: flex-end;
    }
  }
  .wrapper {
    width: 80%;
    margin: 5px auto;
    a {
      color: #2E2F30;
      text-decoration: none;
    }
    .btn-secondary {
      color: white;
    }
  }
}